@import "tailwindcss";

.textGradient {
  background: -webkit-linear-gradient(#91db76, #2fbb10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.greenShadow {
  box-shadow: 2px 3px 2px rgb(106, 226, 106);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.greenShadow:hover {
  transform: translate(2px);
  box-shadow: 0px 1px rgb(106, 226, 106);
}
